*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
}
p{
    margin:25px 0;
}
h1{
    font-size: 30px;
    text-align: center;
}
div{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(65, 52, 36);
    padding: 50px;
    box-shadow: 0px 0px 15px 10px rgb(49, 49, 32);
}
img{
    width: 100%;
}